SECFLOW_WORKSPACE_ROOT=/tmp/secflow_workspaces
SECFLOW_TTL_HOURS=24
SECFLOW_MAX_FILE_SIZE_BYTES=10000000
SECFLOW_MAX_FILE_COUNT=10000
SECFLOW_MAX_TOTAL_SIZE_BYTES=1000000000

SECFLOW_TOOL_TIMEOUT_SECONDS_DEFAULT=120
SECFLOW_TOOL_TIMEOUT_GIT=120
SECFLOW_TOOL_TIMEOUT_SCC=60
SECFLOW_TOOL_TIMEOUT_SYFT=120
SECFLOW_TOOL_TIMEOUT_SEMGREP=120
SECFLOW_TOOL_TIMEOUT_TREE_SITTER=120
SECFLOW_TOOL_TIMEOUT_DETECT_SECRETS=120

SECFLOW_MAX_OUTPUT_ITEMS=500
SECFLOW_MAX_OUTPUT_SYFT=1000
SECFLOW_MAX_OUTPUT_SEMGREP=200
SECFLOW_MAX_OUTPUT_TREE_SITTER=500
